{% from "blocks/header.njk" import header with context %}
{% from "blocks/footer.njk" import footer with context %}
{% from "promos/" + promoData.design + ".njk" import promo with context %}

{% set isLogoContrastColor = hasCategory %}

{{ header(
  isLogoContrastColor=isLogoContrastColor,
  isMainPage=true
) }}

<main>
  <div class="container">
    <div class="intro">
      <h1 class="visually-hidden">Docs</h1>
      {{ promo(promoData.color, promoData.title, promoData.content, promoData.links) }}
      <div class="intro__pitch intro__pitch--partner">
        <a target="_blank" rel="nofollow" href="https://practicum.yandex.ru/promo/courses/programming-reskilling/?utm_source=pr&utm_medium=content&utm_campaign=pr_content_programming-reskilling_doka">
          <img class="intro__logo intro__logo--invertible" src="/images/partners/practicum.svg" alt="Practicum">
        </a>
        <p class="intro__description">
            The work of the Doka editorial team is supported by <a class="link" target="_blank" rel="nofollow" href="https://practicum.yandex.ru/promo/courses/programming-reskilling/?utm_source=pr&utm_medium=content&utm_campaign=pr_content_programming-reskilling_doka">Yandex Practicum</a> - an online education service. Together, we help the community to develop and improve. Doka develops a platform for accumulating experience, and Practicum helps developers learn new things and grow.
        </p>
        <div class="intro__footer">
          <div class="intro__link">
            <a class="link" href="/about/#otkuda-my-vzyalis">About Partnership</a>
          </div>
        </div>
      </div>
    </div>

    {% include "articles-gallery.njk" %}

    <section class="materials-collection">
      <h2 class="visually-hidden">Collections of Materials</h2>

      <ul class="article-indexes-list base-list">
        {% for sectionIndex in collections.articleIndexes %}
          {% set category = sectionIndex.fileSlug %}
          <li class="article-indexes-list__item">
            <h3 class="article-indexes-list__title" style="--accent-color: var(--color-base-{{ category }})">
              <a class="article-indexes-list__link" href="/{{ category }}/">
                {{ sectionIndex.data.name }}
              </a>
            </h3>
            <ul class="index-group-list base-list">
              {% for group in sectionIndex.data.groups %}
                <li class="index-group-list__item">
                  <a class="index-group-list__link link" href="/{{ category }}/#{{ group.name | slugify }}">
                    {{ group.name | descriptionMarkdown | safe }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    </section>
  </div>
</main>

{{ footer() }}
{% include "subscribe-popup.njk" %}
