<div class="cookie-notification notification" hidden>
  <div class="notification__content">
    We use cookies for analytics
  </div>
  <button class="notification__button button" type="button">
    Okay
  </button>
</div>
